html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--taican-white);
    color: var(--lada-black);
    font-family: "Avenir", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(228 54 61 / 0.25);
}

.fixed-top {
    position: fixed !important;
}

.section-heading-light {
    color: var(--lada-black);
}

.section-subheading-light {
    color: var(--marjan-red);
    font-size: 18px;
    font-weight: 700;
}

.section-description-light {
    margin-top: 25px;
    font-size: 22px;
}

.section-heading-dark {
    margin-top: 15px;
    color: white;
    text-align: center;
}

.section-subheading-dark {
    color: var(--sambal-red);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.section-description-dark {
    margin-top: 15px;
    color: white;
    font-size: 22px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .section-heading {
        font-size: 40px;
    }

    .section-description {
        font-size: 18px;
    }
}
